---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Digital Services Jackie Ho"
  description="A digital product designer from Vancouver, BC"
>
  <main slot="main">
    <h2 class="timeline-header">My Story</h2>
    <p>Growing up, I was always a little bit different than everyone else, more on that later. My curiosity and obession with learning started off with an expensive set of encyclopedias that my mother had purchased for the family to use. I would flip through these pages in my spare time learning about the world. My father had owned a bag factory that I hope to inherit along with my brother but our lives had dramatically changed when he was forced to close down due to the economic conditions at the time.</p>
        
    <p>Feeling a bit lost during high school, I took food studies at school perhaps out of necessity, as my mother was not good at cooking. The background music of my room would often be playing shows from the food network, while I play flash games and spend time on the internet.</p> 
    
    <p>I was later introduced to Anime, which led to learn about Japanese media, music and pop culture. I learned photoshop by taking pencil sketches from online sources like Deviant Art, where I spend hours outlining them and colouring them in for fun. During my final year, I took a course in InfoTech, we built websites with HTML, CSS and JavaScript and made animations in Flash. At home, I would build webpages on Xanga and GeoCities. During one of the university visiting advisor sessions, I had expressed interests perhaps going into game design, which led me to choosing to go to SFU.</p>

    <p>My time at SFU, started off a bit rocky, my parents wanted me to get into business like the classic asian stereotype but it wasn't for me. I decided to go all in with my original intentions of making games. It was through one very passionate lecturer that inspired me to pursue design as a career path. All of our classes were project and group-based work, where we learned design thinking, photography, videogrpahy, interaction design, 3D modeling, animation with a sprinkle of game design.</p>

    <p>After SFU, I invited to be a part of a video production team learning about the film industry from a film veteran. in hopes of perhaps being as popular as YouTube creators like Wong Fu. Who knew that a couple months later, I would meet them. </p>
        
    <p>I decided to work for a small business </p>

    <p>It was only recently that I've learned that I was neuro-divergent and why I was able to predict </p>

  </main>


</Layout>

<style lang="scss">
  
</style>
