---
import Layout from "../layouts/Layout.astro";


---

<Layout
  title="Digital Portfolio of Jackie Ho"
  description="A digital product designer from Vancouver, BC"
>
  <main slot="main">
  


    <div class="timeline">

        
        <h2 class="timeline-header">MY STORY SO FAR </h2>
        <p class="timeline-story">A multi-disciplinary product designer that </p>
        <div class="top-container-arrow"></div>
        <div class="line"></div>

        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <h2 class="company-name">Looking for my next adventure!</h2>
                <h3 class="job-title">Product Designer</h3>
                <p>Providing an end-to-end customer experience </p>
            <span class="left-container-arrow" ></span>
            </div>

        </div>
        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Automotive Retail, Automotive Manufacturing, Tourism,  B2B Wholesale </small>
                <h2 class="company-name">Fraserway RV LP</h2>
                <p>A Canadian RV Dealer Group with divisons in B2B Wholesale, Retail Dealerships, Domestic & International RV Rentals </p>
                <h3 class="job-title">Digital Marketing Specialist, Full-Time</h3>
                <small><strong>Dec 2023 to Dec 2024 </strong></small>
                <p>Provided in-house digital marketing expertise</p>
                <h3 class="job-title">Digital Product Designer, Full-Time</h3>
                <small><strong>Jan 2018 to Nov 2023</strong> </small>
                <p>Provided in-house expertise in User Experience Design, Web Development & Digital Marketing</p>
                <h3 class="job-title">Web & Graphic Designer, Full-Time</h3>
                <small><strong>May 2016 to Dec 2018</strong> </small>
                <p>Provided in-house expertise in User Experience Design, Web Development & Digital Marketing</p>
                <h3 class="job-title">Contract Digital Consultant, Contract</h3>
                <small><strong>Sept 2015 to Apr 2016</strong> </small>
                <p>Provided website and production design services</p>

                <small>Services Received: Web Development, Web Migration, Production Design, Digital Advertising, Market Reports, Digital Signage</small>

            </div>
            <span class="right-container-arrow" ></span>

        </div>

        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Non-Profit Society</small>
                <h2 class="company-name">Nanaimo Homeless Coalition</h2>
                <p>The Nanaimo Homelessness Coalition is made up of non-profit societies, representatives from the three levels of government, faith groups and community members who have an interest in developing and carrying out solutions to homelessness. </p>
                <h3 class="job-title">Wordpress Developer, Freelance</h3>
                <small><strong>Mar 2021 to Aug 2021 </strong></small>
                <p>An agency became unresponsive to the non-profit and required a developer to fix major bugs on the WordPress website.</p>
            <span class="left-container-arrow" ></span>
            </div>

        </div>
        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Apparal Manufacturing Services</small>
                <h2 class="company-name">Oddball Workshop</h2>
                <p>A local manufacturer producing sublimated performance apparel and custom teamwear.</p>
                <h3 class="job-title">Digital Marketer, Freelance</h3>
                <small><strong>Oct 2020 to Jun 2021</strong></small>
                <p>Piloted digital advertising for masks</p>
                <small>Services Received: Google Ads, Marketing Reports</small>

            </div>
            <span class="right-container-arrow" ></span>

        </div>

        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Landscaping Services</small>
                <h2 class="company-name">Bredy Landscaping</h2>
                <p>A local company providing landscaping & horticulture services for residential and commercial properties.</p>
                <h3 class="job-title">Digital Consultant, Freelance</h3>
                <small><strong>Oct 2020 to Jun 2021</strong></small>
                <p>Piloted for their mask selling </p>
                <small>Services Received: Web Development, Logo Design</small>
            </div>
            <span class="left-container-arrow" ></span>

        </div>

        
        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Home Construction Services</small>
                <h2 class="company-name">GSH Development Ltd.</h2>
                <p>A local company providing home construction services for residential properties.</p>
                <h3 class="job-title">Graphic Designer, Freelance</h3>
                <small><strong>Sept 2015 to Sept 2015</strong></small>
                <p></p>
                <small>Services Received: Logo Design, Stationary</small>
            </div>
            <span class="right-container-arrow" ></span>

        </div>

        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">B2B Software Company</small>
                <h2 class="company-name">PNI Media Inc</h2>
                <p>A SaaS platform provideing on-demand world class printing and shipping solutions.</p>
                <h3 class="job-title">Production Designer, Full-Time Contract</h3>
                <small><strong>Jun 2015 to Sept 2015</strong></small>
                <p>Designed  </p>
                <small>Services Received: Production Design, Email Design, Magazine Design</small>
            </div>
            <span class="left-container-arrow" ></span>

        </div>

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Dance Education Services</small>
                <h2 class="company-name">Boogaloo Academy Ltd.</h2>
                <p>A multi-disciplinary dance studio.</p>
                <h3 class="job-title">Digital Consultant, Contract</h3>
                <small><strong>May 2015 to Aug 2015</strong></small>
                <p>Piloted for their mask selling </p>
                <small>Services Received: Web Development, Logo Design</small>
            </div>
            <span class="right-container-arrow" ></span>

        </div>

        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Conference</small>
                <h2 class="company-name">TEDxKids@BC Conference</h2>
                <p>TEDx is a program of local, self-organized events that bring people together to share a TED-like experience.</p>
                <h3 class="job-title">Web Developer, Volunteer</h3>
                <small><strong>Feb 2014 to Nov 2014</strong></small>
                <p>Developed the 2014 iteration of the website.</p>
                <small>Services Provided: Custom Web Development</small>
            </div>
            <span class="left-container-arrow" ></span>

        </div>

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Photography Services</small>
                <h2 class="company-name">Bar Perry Photography</h2>
                <p>A local photographer focused on concert events</p>
                <h3 class="job-title">Digital Consultant, Contract</h3>
                <small><strong>May 2015 to Aug 2015</strong></small>
                <p>Design business cards and logo for the photographer.</p>
                <small>Services Provided: Brand Identity</small>
            </div>
            <span class="right-container-arrow" ></span>

        </div>

        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Non-Profit Society</small>
                <h2 class="company-name">A Star Society</h2>
                <p>A non-profit society focused on providing dance education for kids in need.</p>
                <h3 class="job-title">Digital Consultant, Contract</h3>
                <small><strong>Jun 2013 to Sept 2015</strong></small>
                <p>Piloted for their mask selling </p>
                <small>Services Received: Web Development, Logo Design</small>
            </div>
            <span class="left-container-arrow" ></span>

        </div>


        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Hair & Beauty Services</small>
                <h2 class="company-name">Richard Jeha Hair Company</h2>
                <p>A local company providing home construction services for residential properties.</p>
                <h3 class="job-title">Graphic Designer, Freelance</h3>
                <small><strong>Sept 2015 to Oct 2015</strong></small>
                <p></p>
                <small>Services Received: Logo Design, Stationary, Website</small>
            </div>
            <span class="right-container-arrow" ></span>

        </div>

        
        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Dental Services</small>
                <h2 class="company-name">Dr.Perel-Panar</h2>
                <p>A local company providing home construction services for residential properties.</p>
                <h3 class="job-title">Graphic Designer, Freelance</h3>
                <small><strong>Sept 2015 to Oct 2015</strong></small>
                <p></p>
                <small>Services Provided: Logo Design, Business Cards & Brochures</small>
            </div>
            <span class="left-container-arrow" ></span>

        </div>

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Motion Picture & Video Production</small>
                <h2 class="company-name">604NomNom</h2>
                <p>A YouTube channel telling the stories of restaurants in Metro Vancouver. Featured on Vancity Buzz & Shaw Multicultural Network</p>
                <h3 class="job-title">Editor & Co-Founder</h3>
                <small><strong>Mar 2012 to July 2012</strong></small>
                <p></p>
                <small>Services Provided: Storytelling, Video Production, </small>
            </div>
            <span class="right-container-arrow" ></span>

        </div>

        
        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Motion Picture & Video Production</small>
                <h2 class="company-name">Hype Life Films</h2>
                <p>A video production company providing commercial video services</p>
                <h3 class="job-title">Digital Imaging Technician, Freelance</h3>
                <small><strong>Aug 2012 to July 2013</strong></small>
                <p></p>
                <small>Services Provided: Commercials, Music Videos, Video Editing</small>
            </div>
            <span class="left-container-arrow" ></span>

        </div>

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Education</small>
                <h2 class="company-name">Simon Fraser University</h2>
                <p>A multi-disciplinary education in interaction design, human-computer interaction and media arts</p>
                <h3 class="job-title">Bachelor of Arts: Design & New Media, <br/>School of Interactive Arts & Technology</h3>
                <small><strong>Sept 2006 to Apr 2012</strong></small>
                <p></p>
                <small>Focus: <br/>User Experience & Interaction Design Methodologies | Body Interfaces Design | Interactive Objects, Environment & Performance | Japanese Design Aesthetics 
                    | Game Design</small>
            </div>
            <span class="right-container-arrow" ></span>

        </div>

        
        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Education</small>
                <h2 class="company-name">Burnaby North Secondary</h2>
                <p>Graduated with honours.</p>
                <h3 class="job-title">High School Diploma</h3>
                <small><strong>Sept 2001 to June 2006</strong></small>
                <p></p>
                <small>Focus: 3D Ceramic Arts & Sculpture, Information Technology, Food Studies</small>
            </div>
            <span class="left-container-arrow" ></span>
        </div>

        


    </div>



  </main>


</Layout>

<style lang="scss">

.timeline-story{
    text-align:center;
}

.timeline-header{
        text-align:center;
        text-transform: uppercase;
        color: var(--primary-text-colour);
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .line{
        position: absolute;
        height: inherit;
        background-color: white;
        width: 1rem;

    }

    .company-name{
        text-transform:uppercase;
        font-size: 1.5rem;
        margin-top: 0;
    }

    .job-title{
        color: #02aab0;
    }

    .timeline{
        max-width: 1440px;
        padding: 2rem;
        height: 100%;
        position: relative;
        overflow: hidden;

    }

    .right-container-arrow{
        display:none;

        width: 0;
        height: 0;
        position: absolute;
        top: 3rem;
        z-index: 15;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-left:  1rem solid white;
        right: -15px;
    }

    .top-container-arrow{
        width: 0;
        height: 0;
        top: 0;
        left: -1.5rem;
        position: relative;
        z-index: 15;
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-bottom:  2rem solid white;
    }

    .left-container-arrow{
        display:none;
        width: 0;
        height: 0;
        position: absolute;
        top: 3rem;
        z-index: 15;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-right: 1rem solid white;
        left: -1rem;
    }

.experience-container{
    position:relative;

}

.experience-text-container{
    padding: 1rem;
    background-color:white;
    border-radius: 0.5rem;


}



@media screen and (min-width: 768px){


    .timeline-header{
        text-align:center;
        text-transform: uppercase;
        color: var(--primary-text-colour);
        font-size: 4rem;
        margin-bottom: 2rem;
    }
    .line{
        position: absolute;
        left: calc(50% - 0.5rem);
        height: inherit;
        background-color: white;
        width: 1rem;

    }

    .company-name{
        text-transform:uppercase;
        font-size: 2.5rem;
        margin: 0;
    }

    .job-title{
        color: #02aab0;
    }

    .timeline{
        max-width: 1440px;
        padding: 2rem;
        height: 100%;
        position: relative;
        overflow: hidden;

    }

    .right-container-arrow{
        display:initial;

    }

    .top-container-arrow{
        width: 0;
        height: 0;
        top: 0;
        left: calc(50% - 2rem);
        position: relative;
        z-index: 15;
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-bottom:  2rem solid white;
    }

    .left-container-arrow{
        display:initial;

    }

    .left-side{

    }

    .right-side{
        left: calc(50% + 1.5rem);
    }
    .experience-container{
        position:relative;
        width: calc(50% - 1.5rem);

    }

    .experience-text-container{
        padding: 2rem;



    }

    
}

  
</style>
