---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import HikingImage from "../images/hiking.svg"
---

<Layout
  title="Digital Portfolio of Jackie Ho"
  description="A digital product designer from Vancouver, BC"
>
  <main slot="main">
  


    <div class="timeline">
        <div class="image-container">
        <Image class="hiking" src={HikingImage} alt="hiking" /></div>
        <h2 class="timeline-header">My Digital Adventure So Far</h2>
        <p class="timeline-story">A business-intuitive creative with over 10 years of experience in design, marketing and web development. My inquisitive nature combined with divergent thought processes gives me an unique ability to untangle complex problems. My can-do attitude and diverse skillsets allow me to engineer cohesive end-to-end digital solutions and experiences.</p>
        <div class="top-container-arrow"></div>
        <div class="line"></div>

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <h2 class="company-name">Looking for my next adventure!</h2>
                <h3 class="job-title">Product Designer, Digital Marketing or Front-End Engineer</h3>
            <span class="right-container-arrow" ></span>
            </div>

        </div>
        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Automotive Retail, Manufacturing & B2B Wholesale </small>
                <h2 class="company-name">Fraserway RV LP</h2>
                <p>A Canadian RV Dealer Group with divisons in B2B Parts Wholesale, RV Manufacturing, Retail Dealerships and RV Rentals </p>
                <small class="job-period"><strong>Dec 2022 to Dec 2023 </strong></small>
                <h3 class="job-title">Digital Marketing Specialist, Full-Time</h3>
                <h3>Job Summary</h3>
                <ul>
                    <li><p>Providing a cohesive digital experience and strategy on all digital channels and platforms including emails, social media channels, digital advertising and more.</p></li>
                    <li><p>Served as a technical interface and project manager for the marketing department.</p></li>
                    <li><p>Served as co-lead for the Digital Experience Committee, facilitating centralized digital discussions, contributing expertise in ux design, digital marketing, and web development.</p></li>
                </ul>
                <h3>Achievements</h3>
                <ul>
                    <li><p>Contributed to the development of a new sales microsite and the creation of innovative features, including schema tags, product matchmaking quiz and alternative user interface, not presently available on the main website</p></li>
                    <li><p>Prevented a business critical failure by investigation, updating the deprecated PHP server and implementing a new replacement Astra WordPress theme, ensuring continued functionality and performance.</p></li>
                    <li><p>Provided UX and development guidance via Jira tickets as Product Owner/Manager for Salesforce Commerce Cloud Website.</p></li>
                    <li><p>Managed an external UX audit project, facilitating vendor collaboration, overcoming barriers, and coordinating recruitment email distribution, resulting in a successful completion under budget and providing actionable insights prioritized by effort and importance.</p></li>
                    <li><p>Resolved email delivery issues from a website migration by implementing email authentication measures (SPF, DKIM, DMARC) for IT, resulting in a 20% increase in email open rates.</p></li>
                    <li><p>Initiated and enabled automated QR code price sheets through a data export via commerce cloud, which saved hundred of hours of operational labour.</p></li>
                    <li><p>Managed an external UX audit project, facilitating vendor collaboration, overcoming barriers, and coordinating recruitment email distribution, resulting in a successful completion under budget and providing actionable insights prioritized by effort and importance.</p></li>
                    <li><p>Successfully project managed the deployment of digital signage across all retail locations by coordinating with IT to ensure equipment availability and remotely setting up each display with their respective content, This resulted in the establishment of a new in-store touchpoint and experience for customers and an additional advertising channel for the business.</p></li>
                    <li><p>Provided custom data reports for Senior Leadership and General Managers using Looker Studio.</p></li>
                    <li><p>Produced a comprehensive training video series on photography, including developing the lesson plan, defining learning outcomes, procuring a standardized digital content kit, scriptwriting, and video production independently. Pilot group was a success and ready to deploy for the rest of the company.</p></li>
                    <li><p>Initiated coversations around introducing Wi-Fi capture portal as a new channel for customers to interact with.</p></li>
                </ul>
                <small class="job-period"><strong>Jan 2018 to Nov 2023</strong></small>

                <h3 class="job-title">Digital Product Designer, Full-Time</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Produced General Manager textbook and workbook for HR.</p></li>
                    <li><p>Managed digital advertising initiatives in Google Ads & Meta Ads</p></li>
                    <li><p>Help trained all designers and marketing coordinators.</p></li>
                    <li><p>Set up all catalogues and pages during Salesforce Commerce Cloud website.</p></li>
                    <li><p>Offered in-house UX and front-end development expertise User Acceptance Testing and reported Commerce Cloudbugs on JIRA.</p></li>
                    <li><p>Produced videos that gained over 100,000 video plays for Sales & Rentals department.</p></li>
                    <li><p>Project managed a 3-Day photo and video production shoot.</p></li>
                    <li><p>Rebranded Country RV and Roadmaster RV to Fraserway RV Kelowna & Leduc.</p></li>
                    <li><p>Mobile responsive emails with MJML and Litmus.</p></li>
                    <li><p>Assisted content migration from Sitefinity to Drupal.</p></li>
                    <li><p>Initiated and developed the company's only Brand Guidelines.</p></li>
                    <li><p>Removed manual lottery check for customers by developing a query application using C# for Open House.</p></li>
                    <li><p>Help steer the company's tech stack as an active member of the digital transformation committee.</p></li>
                    <li><p>Introduced and set up all the event tracking codes for KPIs using Google Tag Manager.</p></li>
                    <li><p>Unified all the sales and service forms, including sales contracts and quotes.</p></li>
                    <li><p>Developed an easy to deploy tradeshow kit for trade show staff.</p></li>

                </ul>
                <small class="job-period"><strong>May 2016 to Dec 2018</strong> </small>
                <h3 class="job-title">Web & Graphic Designer, Full-Time</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Rebranded Travelhome RV that led to highest revenue year of all time.</p></li>
                    <li><p>Removed operational slow down caused by phone calls and enabled online catalogues for B2B Division.</p></li>
                    <li><p>Increase marketing's operational efficiency by developing design templates.</p></li>
                    <li><p>Rebranded Roadmaster RV to Fraserway RV Leduc.</p></li>
                    <li><p>Resolved broken emails and enabled mobile responsive and Outlook-friendly emails with MJML and Litmus</p></li>
                </ul>                <small class="job-period"><strong>Sept 2015 to Apr 2016</strong> </small>

                <h3 class="job-title">Contract Digital Consultant, Contract</h3>
                <h3>Achievements</h3>
                <ul>
                    <li><p>Resolved slow response time from an agency by developing 2 RV Show website internal.</p></li>
                    <li><p>Enabled retail staff to produce their own branded signs through a fillable template.</p></li>
                    <li><p>Developed automated merging process for large signs at RV Shows.</p></li>
                </ul>
                <p><small><strong>Services Provided:</strong> Web Development, Web Migration, Graphic Production Design, Digital Advertising, Digital Ad Management, Market Reports, Digital Signage, SEO Consultation, UX Consultation</small></p>
                
                <p><small><strong>Software Used:</strong> Adobe Illustrator, Adobe Photoshop, Adobe InDesign, Adobe Audition, Adobe Premiere, Adobe After Effects, Figma, Sketch, Miro, Visual Studio Code, WordPress, WooCommerce, Salesforce Commerce Cloud, Sitefinity, Drupal Acquia, MJML, Yodeck, Google Ads, HotJar, Google Analytics 4, Looker Studio, Supermetrics, Litmus, Notion, Wrike, Basecamp, JIRA, DrawIO, Google Tag Manager, Meta Ads</small></p>

            </div>
            <span class="left-container-arrow" ></span>

        </div>

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Non-Profit Society</small>
                <h2 class="company-name">Nanaimo Homeless Coalition</h2>
                <p>The Nanaimo Homelessness Coalition is made up of non-profit societies, representatives from the three levels of government, faith groups and community members who have an interest in developing and carrying out solutions to homelessness. </p>
                <small class="job-period"><strong>Mar 2021 to Aug 2021 </strong></small>

                <h3 class="job-title">Wordpress Developer, Freelance</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Hired to fix website bugs from unresponsive agency</p></li>
                </ul>
                <p><small><strong>Services Provided:</strong> Web Development</small></p>
                
                <p><small><strong>Software Used:</strong> Wordpress, CPanel</small></p>

            <span class="right-container-arrow" ></span>
            </div>

        </div>
        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Apparel Manufacturing Services</small>
                <h2 class="company-name">Oddball Workshop</h2>
                <p>A local manufacturer producing sublimated performance apparel and custom teamwear.</p>
                <small class="job-period"><strong>Oct 2020 to Jun 2021</strong></small>

                <h3 class="job-title">Digital Marketer, Freelance</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Enabled analytics for the business on Shopify</p></li>
                    <li><p>Provided Google Ad management services</p></li>
                </ul>

            </ul>
            <p><small><strong>Services Provided:</strong> Google Ads, Marketing Reports, Google Analytics</small></p>
            <p><small><strong>Software Used:</strong> Looker Studio, Google Ads, Google Tag Manager</small></p>            </div>
            <span class="left-container-arrow" ></span>

        </div>

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Landscaping Services</small>
                <h2 class="company-name">Bredy Landscaping</h2>
                <p>A local company providing landscaping & horticulture services for residential and commercial properties.</p>
                <small class="job-period"><strong>Oct 2020 to Jun 2021</strong></small>

                <h3 class="job-title">Digital Consultant, Freelance</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Provided an visual identity package logos and social media</p></li>
                    <li><p>Provided Google Ad management services</p></li>
                    <li><p>Assisted with apparel design and vehicle decals</p></li>
                </ul>
                <p><small><strong>Services Provided:</strong> Web Development, Visual Identity</small></p>
                <p><small><strong>Software Used:</strong> WordPress, CPanel, Adobe Illustrator, Adobe InDesign, Adobe Photoshop</small></p> 
            </div>
            <span class="right-container-arrow" ></span>

        </div>

        
        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Home Construction Services</small>
                <h2 class="company-name">GSH Development Ltd.</h2>
                
                <p>A local company providing home construction services for residential properties.</p>
                <small class="job-period"><strong>Sept 2015 to Sept 2015</strong></small>

                <h3 class="job-title">Graphic Designer, Freelance</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Provided a visual identity pack which included business cards, logos and stationary</p></li>

                </ul>
                <p><small><strong>Services Provided:</strong> Visual Identity</small></p>
                <p><small><strong>Software Used:</strong> Adobe Illustrator, Adobe InDesign, Adobe Photoshop</small></p> 
            </div>
            <span class="left-container-arrow" ></span>

        </div>

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">B2B Software Company</small>
                <h2 class="company-name">PNI Media Inc</h2>
                <p>A SaaS platform provideing on-demand world class printing and shipping solutions.</p>
                <small class="job-period"><strong>Jun 2015 to Sept 2015</strong></small>

                <h3 class="job-title">Production Designer, Full-Time Contract</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Produced web assets for Staples and Walmart.</p></li>
                    <li><p>Designed magazine ads for Costco.</p></li>
                    <li><p>Designed email blasts for Tesco.</p></li>
                </ul>                <small>Services Received: Production Design, Email Design, Magazine Design</small>
            </div>
            <span class="right-container-arrow" ></span>

        </div>

    

        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Conference</small>
                <h2 class="company-name">TEDxKids@BC Conference</h2>
                <p>TEDx is a program of local, self-organized events that bring people together to share a TED-like experience.</p>
                <small class="job-period"><strong>Feb 2014 to Nov 2014</strong></small>

                <h3 class="job-title">Web Developer, Volunteer</h3>
                <h3>Achievements</h3>

                <p><small><strong>Services Provided:</strong> Web Development</small></p>
                <p><small><strong>Software Used:</strong> WordPress</small></p> 
            </div>
            <span class="left-container-arrow" ></span>

        </div>

     
     

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Non-Profit Organization</small>
                <h2 class="company-name">Vancouver New Year's Eve Celebration Society</h2>
                <p>Designed the logo for the first Vancouver New Year's Eve fireworks event.</p>
                <small class="job-period"><strong>Oct 2015 to Oct 2015</strong></small>
                
                <h3 class="job-title">Graphic Designer, Freelance</h3>
                <h3>Achievements</h3>

                <p>Designed the logo for the first Vancouver New Year's Eve fireworks event.</p>
                <small>Services Provided: Logo Design</small>
            </div>
            <span class="right-container-arrow" ></span>
        </div>

        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Photography Services</small>
                <h2 class="company-name">Bar Perry Photography</h2>
                <p>A local photographer focused on concert events</p>
                <small class="job-period"><strong>May 2015 to Aug 2015</strong></small>

                <h3 class="job-title">Digital Consultant, Contract</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Designed a visual identity package which included a logo and business cards</p></li>

                </ul>  
                <p><small><strong>Services Provided:</strong> Logo Design</small></p>
                <p><small><strong>Software Used:</strong> Adobe Illustrator</small></p> 
            </div>
            <span class="left-container-arrow" ></span>

        </div>

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Hair & Beauty Services</small>
                <h2 class="company-name">Richard Jeha Hair Company</h2>
                <p>A local company providing home construction services for residential properties.</p>
                <small class="job-period"><strong>Sept 2015 to Oct 2015</strong></small>

                <h3 class="job-title">Graphic Designer, Freelance</h3>
                <h3>Achievements</h3>

                <p></p>
                <small>Services Received: Logo Design, Stationary, Website</small>
            </div>
            <span class="right-container-arrow" ></span>

        </div>


  

        
        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Dental Services</small>
                <h2 class="company-name">Dr.Perel-Panar</h2>
                <p>A local company providing home construction services for residential properties.</p>
                <small class="job-period"><strong>May 2014 to Jun 2014</strong></small>
                <h3 class="job-title">Graphic Designer, Freelance</h3>
                <h3>Achievements</h3>
                <p></p>
                <small>Services Provided: Logo Design, Business Cards & Brochures</small>
            </div>
            <span class="left-container-arrow" ></span>

        </div>
        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Dance Education Services</small>
                <h2 class="company-name">Boogaloo Academy Ltd.</h2>
                <p>A multi-disciplinary dance studio that offers dance education for all ages and studio rental services.</p>
                <small class="job-period"><strong>May 2013 to Sept 2015</strong></small>

                <h3 class="job-title">Digital Consultant, Contract</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Launched a singing and dance program for kids.</p></li>
                    <li><p>Generated leads for rental space bookings which resulted in bookings.</p></li>
                    <li><p>Designed promotional posters for studio events.</p></li>

                </ul>                  
                <p><small><strong>Services Provided:</strong> DVD Production, Video Production, Graphic Design, Web Development, Content Strategy, Social Media Management, Booklet Design</small></p>
                <p><small><strong>Software Used:</strong> Adobe Illustrator, Adobe Premiere, Adobe After Effects, Adobe InDesign, WordPress, Adobe Photoshop</small></p> 
            </div>
            <span class="right-container-arrow" ></span>

        </div>

        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Non-Profit Organization</small>
                <h2 class="company-name">A Star Society</h2>
                <p>A non-profit society focused on providing dance education for kids in need.</p>
                <small class="job-period"><strong>May 2013 to Sept 2015</strong></small>

                <h3 class="job-title">Digital Consultant, Contract</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Organized & designed an investor package which resulted in $2,500 grant Scotiabank</p></li>
                    <li><p>Revised grant application, which resulted in grant money for the non-profit</p></li>
                    <li><p>Produced videos that brought 60,000 views to the channel</p></li>
                    <li><p>Episodes were featured on Vancity Buzz, now Daily Hive.</p></li>

                </ul>   
                <p><small><strong>Services Provided:</strong> DVD Production, Video Production, Graphic Design, Web Development, Content Strategy, Social Media Management, Booklet Design</small></p>
                <p><small><strong>Software Used:</strong> Adobe Illustrator, Adobe Premiere, Adobe After Effects, Adobe InDesign, WordPress, Adobe Photoshop</small></p> 
            </div>
            <span class="left-container-arrow" ></span>

        </div>     

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Motion Picture & Video Production</small>
                <h2 class="company-name">604NomNom</h2>
                <p>A YouTube channel telling the stories of restaurants in Metro Vancouver. Featured on Vancity Buzz & Shaw Multicultural Network</p>
                <small><strong>Mar 2013 to July 2013</strong></small>

                <h3 class="job-title">Co-Founder</h3>
                <h3>Achievements</h3>

                <ul>
                    <li><p>Channel subscribers grew to 15,000 in 3 months</p></li>
                    <li><p>Featured on network TV on the Shaw Multicultural Channel.</p></li>
                    <li><p>Episodes were featured on Vancity Buzz, now Daily Hive.</p></li>

                </ul>                 
                <p><small><strong>Services Provided:</strong> Video Production, Graphic Design, Web Development, Content Strategy, Social Media Management</small></p>
                <p><small><strong>Software Used:</strong> Adobe Illustrator, Adobe Premiere, Adobe After Effects, Adobe InDesign, WordPress, Adobe Photoshop</small></p> 
            </div>
            <span class="right-container-arrow" ></span>

        </div>

        
        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Motion Picture & Video Production</small>
                <h2 class="company-name">Hype Life Films</h2>
                <p>A video production company providing commercial video services</p>
                <small class="job-period"><strong>Aug 2012 to July 2013</strong></small>
                <h3 class="job-title">Videographer, Freelance</h3>
                <h3>Achievements</h3>
                <ul>
                    <li><p>Assisted in producing a music video that gained 100,000 views and placed 2nd on Ryan Seacreat Cover Contest</p></li>
                    <li><p>Event videographer for Wong Fu productions x Yuri LIVE at UBC</p></li>
                </ul> 
                <p><small><strong>Services Provided:</strong> Video Production, Commercial Production, Music Video Production</small></p>
                <p><small><strong>Software Used:</strong> Adobe Premiere, Adobe After Effects</small></p> 
            </div>
            <span class="left-container-arrow" ></span>

        </div>

        <div class="experience-container left-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">Post-Secondary Education</small>
                <h2 class="company-name">Simon Fraser University</h2>
                <p>An education combines the science of human experience, the analysis of media and culture, the creation of original and experimental works of art, and the implementation of new technologies. </p>
                <small><strong>Sept 2006 to Apr 2012</strong></small>
                <h3 class="job-title">BA: Design & New Media, <br/>School of Interactive Arts & Technology</h3>
                <h3>Achievements</h3>
                <h4>In[A]Moment</h4>
                <p>In[a]moment is an interactive and collaborative performance combining dynamic movements, motion tracking and social media. The performance explores the gestalt or “[!]” moments that occur at the intersections where the audience, performer, and space interact. </p>
                <ul>
                    <li><p>1st Place: 2013 SFU SIAT Showcase</p></li>
                    <li><p>3rd Place: BCNET Student Showcase</p></li>
                </ul> 
            
                <h4>Other Experiences</h4>

                <ul>
                    <li><p>UPhoto: Photography Club Executive teaching Photography </p></li>

                </ul> 
                <small>Focus: <br/>User Experience & Interaction Design Methodologies | Body Interface Design | Interactive Performance | Japanese Design & Aesthetics 
                    | Game Design</small>
            </div>
            <span class="right-container-arrow" ></span>

        </div>

        
        <div class="experience-container right-side">
            <img class="logo" src="">
            <div class="experience-text-container">
                <small class="industry">High School Education</small>
                <h2 class="company-name">Burnaby North Secondary</h2>
                <p>Graduated with honours.</p>
                <small><strong>Sept 2001 to June 2006</strong></small>

                <h3 class="job-title">High School Diploma</h3>
                <p></p>
                <small>Interests: 3D Ceramic Arts & Sculpture, Web Development, Food Studies</small>
            </div>
            <span class="left-container-arrow" ></span>
        </div>

        


    </div>



  </main>


</Layout>

<style lang="scss">

.achievement-label {
    padding: 0;
    margin: 0;

}

li{
    line-height:150%;
}

.image-container{
    padding: 0;
    margin: 0;
    text-align:center;
    width: 100%;
}
.hiking {
    padding: 0;
    margin: 0;
    height: 300px;
    width: 300px;
}
.job-period{
margin: 0;
display:block;

}
.timeline-story{
    max-width: 768px;
    margin: auto;
    padding-bottom: 2rem;
}

.timeline-header{
        text-transform: uppercase;
        color: var(--primary-text-colour);
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .line{
        position: absolute;
        height: inherit;
        background-color: white;
        width: 1rem;

    }

    .company-name{
        text-transform:uppercase;
        font-size: 1.5rem;
        margin-top: 0;
    }

    .job-title{
        color: #02aab0;
        margin: 0;
    }

    .timeline{
        max-width: 1440px;
        padding: 1rem;
        height: 100%;
        position: relative;
        overflow: hidden;

    }

    .right-container-arrow{
        display:none;

        width: 0;
        height: 0;
        position: absolute;
        top: 3rem;
        z-index: 15;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-left:  1rem solid white;
        right: -15px;
    }

    .top-container-arrow{
        width: 0;
        height: 0;
        top: 0;
        left: -1.5rem;
        position: relative;
        z-index: 15;
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-bottom:  2rem solid white;
    }

    .left-container-arrow{
        display:none;
        width: 0;
        height: 0;
        position: absolute;
        top: 3rem;
        z-index: 15;
        border-top: 1rem solid transparent;
        border-bottom: 1rem solid transparent;
        border-right: 1rem solid white;
        left: -1rem;
    }

.experience-container{
    position:relative;

}

.experience-text-container{
    padding: 1rem;
    background-color:white;
    border-radius: 0.5rem;


}



@media screen and (min-width: 768px){


    .timeline-header{
        text-align:center;
        text-transform: uppercase;
        color: var(--primary-text-colour);
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .timeline-story{
        text-align:center;
    }

    .line{
        position: absolute;
        left: calc(50% - 0.5rem);
        height: inherit;
        background-color: white;
        width: 1rem;

    }

    .company-name{
        text-transform:uppercase;
        font-size: 2.5rem;
        margin: 0;
    }

    .job-title{
        color: #02aab0;
    }

    .timeline{
        max-width: 1440px;
        padding: 2rem;
        height: 100%;
        position: relative;
        overflow: hidden;

    }

    .right-container-arrow{
        display:initial;

    }

    .top-container-arrow{
        width: 0;
        height: 0;
        top: 0;
        left: calc(50% - 2rem);
        position: relative;
        z-index: 15;
        border-left: 2rem solid transparent;
        border-right: 2rem solid transparent;
        border-bottom:  2rem solid white;
    }

    .left-container-arrow{
        display:initial;

    }

    .left-side{

    }

    .right-side{
        left: calc(50% + 1.5rem);
    }
    .experience-container{
        position:relative;
        width: calc(50% - 1.5rem);

    }

    .experience-text-container{
        padding: 2rem;



    }

    
}

  
</style>
