---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Padlock from "../images/padlock.svg";
---

<Layout  title="Digital Portfolio of Jackie Ho"
description="A digital product designer Based in Vancouver, BC">
<main slot="main">
<Image src={Padlock} alt="padlock" class="padlock" />
<h1>THIS PAGE HAS BEEN PASSWORD PROTECTED. PLEASE MESSAGE ME DIRECTLY FOR ACCESS</h1>

</main>
</Layout>

<style>
    main{
        display: flex;
        justify-content: center;    
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .padlock{
        width: 300px;
        height: 300px;
    }
</style>