---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Digital Services Jackie Ho"
  description="A digital product designer from Vancouver, BC"
>
  <main slot="main">
    <h1>Services Offered</h1>
    <h2>Website Services</h2>
    <h3>Website Audit</h3>
    <ul>
      <li>
        <p>Performance Audit</p>
      </li>
      <li>
        <p>UX Audit</p>
      </li>
      <li>
        <p>Custom Development</p>
      </li>
    </ul>

    <h3>Development</h3>
    <ul>
      <li>
        <p>Performance Audit</p>
      </li>
      <li>
        <p>UX Audit</p>
      </li>
      <li>
        <p>Custom Development</p>
      </li>
    </ul>
    <h2>Digital Marketing Services</h2>
    <h3>Social Media Audit</h3>
      <ul>
        <li>
          <p>Social Media Audit</p>
        </li>
        <li>
          <p>Social Media Advertising</p>
        </li>
        <li>
          <p>Social Media Audit</p>
        </li>
      </ul>
    <h3>Design Services</h3>
    <ul>
      <li>
        <p>Social Media Audit</p>
      </li>
      <li>
        <p>Social Media Advertising</p>
      </li>
      <li>
        <p>Social Media Audit</p>
      </li>
    </ul>
  </main>


</Layout>

<style lang="scss">
  
</style>
