---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Digital Portfolio of Jackie Ho"
  description="A digital product designer from Vancouver, BC"
>
  <main slot="main">
 
  </main>


</Layout>

<style lang="scss">
  
</style>
