---

---

<section id='work' class='container work-section'>
  <div class='bento-container'>
    <div class='bento-item bento-1 portfolio-item'>
      <a class='bento-link' href='../portfolio/four-seasons-rv-rental/'>
        <div class='bento-text'>
          <h3 class='bento-header'>Fraserway RV</h3>
          <small>Salesforce Website</small>
        </div>
      </a>
    </div>
    <div class='bento-item bento-2'>
      <div class='bento-text'>
        <h3 class='bento-header'>Clients I've Worked On</h3>
      </div>
      <div class='bento-icons'>
        <img src='/images/companies/staples.svg' />
        <img src='/images/companies/walmart.svg' />
        <img src='/images/companies/costco.svg' />
        <img src='/images/companies/tesco.svg' />
        <img src='/images/companies/fraserway.svg' />
      </div>
    </div>
    <div class='bento-item bento-3'>
      <div class='bento-text'>
        <h3 class='bento-header'>Specializing in</h3>
      </div>
      <div class='bento-icons'>
        <ul class='ux-list'>
          <li class='ux-list-item'>UI Design</li>
          <li class='ux-list-item'>Front-End Engineering</li>
          <li class='ux-list-item'>Interaction Design</li>
          <li class='ux-list-item'>Data Analysis</li>
          <li class='ux-list-item'>Service Design</li>
        </ul>
      </div>
    </div>
    <div class='bento-item bento-4'>
      <div class='bento-text'>
        <h3 class='bento-header'>
          <span class='webprojects'>0</span>+<br />Web Projects Launched
        </h3>
      </div>
    </div>

    <div class='bento-item bento-5'>
      <div class='bento-text'>
        <h3 class='bento-header'>
          <span class='marketing-campaigns'>0</span>+<br /> Marketing Campaigns &
          Projects Delivered
        </h3>
      </div>
    </div>
    <div class='bento-item bento-6 portfolio-item'>
      <a class='bento-link' href='../portfolio/four-seasons-rv-rental/'>
        <div class='bento-text'>
          <h3 class='bento-header'>Venues by Meetup</h3>
          <small>Concept App</small>
        </div>
      </a>
    </div>
    <div class='bento-item bento-7 portfolio-item'>
      <a class='bento-link' href='../portfolio/tech-hive/'>
        <div class='bento-text'>
          <h3 class='bento-header'>Tech Hive</h3>
          <small>Concept Web App</small>
        </div>
      </a>
    </div>
    <div class='bento-item bento-8 portfolio-item'>
      <a class='bento-link' href='../portfolio/venues-for-meetup/'>
        <div class='bento-text'>
          <h3 class='bento-header'>Venues by Meetup</h3>
          <small>Concept Web App</small>
        </div>
      </a>
    </div>
    <div class='bento-item bento-9 portfolio-item'>
      <div class='bento-text'>
        <h3 class='bento-header'>
          Software Knowledge
        </h3>
        <div class='bento-icons'>
          <img src='/images/applications/illustrator.svg' title="Adobe Illustrator" />
          <img src='/images/applications/photoshop.svg' title="Adobe Photoshop" />
          <img src='/images/applications/indesign.svg' title="Adobe InDesign" />
          <img src='/images/applications/premiere.svg' title="Adobe Premiere" />
          <img src='/images/applications/photoshop.svg' title="Adobe Photoshop" />
          <img src='/images/applications/acrobat.svg' title="Adobe Acrobat" />
          <img src='/images/applications/figma.svg' title="Figma" />
          <img src='/images/applications/html.svg' title="HTML" />
          <img src='/images/applications/css.svg' title="CSS"/>
          <img src='/images/applications/javascript.svg' title="JavaScript" />
          <img src='/images/applications/react.svg' title="React" />
          <img src='/images/applications/wordpress.svg' title="WordPress" />
          <img src='/images/applications/astro.svg' title="Astro"/>
          <img src='/images/applications/notion.svg' title="Notion" />
          <img src='/images/applications/wordpress.svg' title="WordPress" />
          <img src='/images/applications/aws.svg' title="Amazon Web Services"/>
          <img src='/images/applications/basecamp.svg' title="Basecamp" />
          <img src='/images/applications/jira.svg' title="Jira" />

        </div>
      </div>
    </div>
    <div class='bento-item bento-10 archived'>
      <div class='bento-text'>
        <h3 class='bento-header'>OTHER PAST WORK</h3>
        <input type='checkbox' id='bar' class='archive-projects' />
        <label for='bar' class='labels' style='opacity: 1;'
          >Bar Perry Pet Photography</label
        >
        <input type='checkbox' id='bredy' class='archive-projects' />
        <label for='bredy' class='labels'>Bredy Landscaping</label>
        <input type='checkbox' id='nom' class='archive-projects' />
        <label for='nom' class='labels'>604NomNom</label>
        <input type='checkbox' id='boogaloo' class='archive-projects' />
        <label for='boogaloo' class='labels'>Boogaloo Academy</label>
        <input type='checkbox' id='logos' class='archive-projects' />
        <label for='jeha' class='labels'>Richard Jeha</label>
        <input type='checkbox' id='jeha' class='archive-projects' />
        <label for='logos' class='labels'>Logos</label>
      </div>
    </div>
    <div class='bento-item archived bento-11'></div>
  </div>
</section>

<style lang='scss'>
  .webprojects,
  .marketing-campaigns {
    font-size: 4rem;
  }

  .ux-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
  }

  .ux-list-item {
    padding: 0.5rem 1rem;
    margin: 0;
    background-color: black;
    border-radius: 1rem;
    color: white;
    text-align: center;
  }

  .bento-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 32px 32px rgba(0, 0, 0, 0.1);
  }
  .bento-item {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
  .bento-1 {
    background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/portfolio/four-seasons-rv-rental/FourSeasonsRVRentals_Landing.jpg")
        center center;
    order: 5;
  }
  .bento-2 {
    order: 1;

    background: rgb(2, 170, 176, 0.1);
    h3 {
      color: black;
    }
  }
  .bento-3 {
    order: 2;

    background: rgb(2, 170, 176, 0.1);
    h3 {
      color: black;
    }
  }
  .bento-4 {
    order: 3;

    background: rgb(2, 170, 176, 0.1);
    h3 {
      color: black;
    }
  }
  .bento-5 {
    order: 4;
    background: rgb(2, 170, 176, 0.1);
    h3 {
      color: black;
    }
  }
  .bento-6 {

    order: 5;
    background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/portfolio/four-seasons-rv-rental/FourSeasonsRVRentals_Landing.jpg")
        center center;  }
  .bento-7 {

    order: 6;
    background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/portfolio/venues/venues.jpg") center center;
  }
  .bento-8 {
    display: none;

    order: 7;
    background:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      url("/images/portfolio/venues/venues.jpg") center center;
  }
  .bento-9 {
    order: 8;
    background: rgb(2, 170, 176, 0.1);
    h3 {
      color: black;
    }
  }

  .bento-10 {
    order: 9;
    background: black;
    border-radius: 0 0 1rem 1rem;
  }

  .bento-11 {
    order: 7;
    margin-bottom: 0;

    background: url("/images/portfolio/bar-perry/BarPerry.png") center center
      no-repeat;
    background-size: cover;
    transition: background-color 0.5s ease-in-out;
    border-radius: 1rem 1rem 0 0;
  }

  .portfolio-item {
    h3,
    small {
      color: white;
    }
  }

  input[type="checkbox"].archive-projects {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .labels {
    color: white;
    font-size: 1.25rem;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    &:hover {
      cursor: pointer;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
    &:active {
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
  }

  .bento-icons {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    & img {
      max-width: 96px;
      max-height: 48px;
      filter: grayscale(1);
      transition: all ease-in-out 0.5s;

      &:hover {
        filter: grayscale(0);
        transition: all ease-in-out 0.5s;
      }
    }
  }

  .bento-link {
    text-decoration: none;
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;

  }

  .bento-text {
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h3,
    span {
      padding: 0;
      margin: 0;
    }
  }

  .bento-row {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    max-width: 1440px;
  }

  .bento-image-container {
  }

  .bento-image {
    border-radius: 32px;
  }

  .bento-header {
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
  }

  @media only screen and (min-width: 768px) {
    .bento-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
      justify-items: center;
      align-items: center;
      column-gap: 2rem;
      row-gap: 2rem;
      max-width: 1440px;
      border-radius: 2rem;
      gap: 2rem;
      padding: 2rem;
    }

    .bento-item {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-width: 250px;
      min-height: 250px;
      border-radius: 1rem;
      padding: 0;
      margin: 0;
    }

    .bento-1 {
      background:
        linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 75%,
          rgba(0, 0, 0, 0.5) 85%,
          rgba(0, 0, 0, 1) 100%
        ),
        url("/images/portfolio/four-seasons-rv-rental/FourSeasonsRVRentals_Landing.jpg")
          center center;
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      h3,
      small {
        color: white;
      }

      .bento-text {
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-in-out;
      }
      &:hover {
        .bento-text {
          opacity: 1;
          transform: translateY(0);
          transition: all 1s ease-in-out;
        }
      }
    }
    .bento-2 {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }
    .bento-3 {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
    .bento-4 {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
    .bento-5 {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
    .bento-6 {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      background:
        linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 75%,
          rgba(0, 0, 0, 0.5) 85%,
          rgba(0, 0, 0, 1) 100%
        ),
        url("/images/portfolio/four-seasons-rv-rental/FourSeasonsRVRentals_Landing.jpg")
        center center;
      .bento-text {
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-in-out;
        h3,
        small {
          color: white;
        }
      }
      &:hover {
        transition: opacity 0.5s ease-in-out;
        opacity: 1;

        .bento-text {
          opacity: 1;
          transform: translateY(0);
          transition: all 1s ease-in-out;
        }
      }
    }

    .bento-7 {
      display: block;

      grid-column: 1 / 2;
      grid-row: 4 / 5;
      background:
        linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 75%,
          rgba(0, 0, 0, 0.5) 85%,
          rgba(0, 0, 0, 1) 100%
        ),
        url("/images/portfolio/venues/venues.jpg")
          center center;
      .bento-text {
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-in-out;
        h3,
        small {
          color: white;
        }
      }
      &:hover {
        transition: opacity 0.5s ease-in-out;
        opacity: 1;

        .bento-text {
          opacity: 1;
          transform: translateY(0);
          transition: all 1s ease-in-out;
        }
      }
    }
    .bento-8 {
      display: block;
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      background:
        linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 75%,
          rgba(0, 0, 0, 0.5) 85%,
          rgba(0, 0, 0, 1) 100%
        ),
        url("/images/portfolio/venues/venues.jpg")
          center center;
      .bento-text {
        opacity: 0;
        transform: translateY(50px);
        transition: all 1s ease-in-out;
        h3,
        small {
          color: white;
        }
      }
      &:hover {
        transition: opacity 0.5s ease-in-out;
        opacity: 1;

        .bento-text {
          opacity: 1;
          transform: translateY(0);
          transition: all 1s ease-in-out;
        }
      }
    }
    .bento-9 {
      display: block;

      grid-column: 3 / 4;
      grid-row: 4 / 5;
      h3 {
      color: black;
    }
    }
    .bento-10 {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }

    .bento-10 {
      height: 600px;
      background-size: cover;
      background-repeat: none;
      transition: background-color 0.5s ease-in-out;

      grid-column: 1 / 2;
      grid-row: 5 / 6;
    }
    .bento-11 {
      height: 600px;
      background-size: cover;
      background-repeat: none;
      transition: background-color 0.5s ease-in-out;

      grid-column: 2 / 4;
      grid-row: 5 / 6;
    }

    label {
      color: white;
      font-size: 1.25rem;
      opacity: 0.5;
      transition: all 0.5s ease-in-out;
      &:hover {
        cursor: pointer;
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
      &:active {
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
      &:first-child {
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
    }


  .bento-link {
    height:100%;
    justify-content: end;

  }
  }
</style>

<script is:inline>
  let imageDisplay = document.querySelector(".bento-11");
  let logos = document.querySelector("#logos");
  let bar = document.querySelector("#bar");
  let bredy = document.querySelector("#bredy");
  let boogaloo = document.querySelector("#boogaloo");
  let nom = document.querySelector("#nom");
  let jeha = document.querySelector("#jeha")
  let labels = document.querySelectorAll("label");
  let inputs = document.querySelectorAll("input");
  let previousCheckedItem = null;
  let finalCampaigns = 100;
  let finalWebProjects = 10;

  const marketingCampaigns = document.querySelector(".marketing-campaigns");
  const webProjects = document.querySelector(".webprojects");
  let isAnimated = false;

  function animateValue(element, start, end, duration) {
    let startTimestamp = null;
    const step = (timestamp) => {
      if (!startTimestamp) startTimestamp = timestamp;
      const progress = Math.min((timestamp - startTimestamp) / duration, 1);
      const value = Math.floor(progress * (end - start) + start);
      element.textContent = value;
      if (progress < 1) {
        window.requestAnimationFrame(step);
      }
    };
    window.requestAnimationFrame(step);
  }

  window.addEventListener("scroll", () => {
    const bentoSectionRect = marketingCampaigns.getBoundingClientRect();
    const windowHeight =
      window.innerHeight || document.documentElement.clientHeight;
    if (bentoSectionRect.top <= windowHeight && !isAnimated) {
      isAnimated = true;
      animateValue(marketingCampaigns, 0, finalCampaigns, 1000);
      animateValue(webProjects, 0, finalWebProjects, 1000);
    }
  });

  labels.forEach((label) => {
    label.addEventListener("click", function () {
      labels.forEach((l) => {
        l.style.opacity = "0.5";
      });
      this.style.opacity = "1";
    });
  });

  inputs.forEach((input) => {
    input.addEventListener("change", function () {
      if (previousCheckedItem) {
        previousCheckedItem.checked = false;
      }
      previousCheckedItem = this;
    });
  });

  logos.addEventListener("change", function () {
    if (logos.checked) {
      imageDisplay.style.transition = "background-image 0.5s";
      imageDisplay.style.background = "black center center";

      imageDisplay.style.background =
        'url("/images/portfolio/Logos.gif") center center no-repeat';
      imageDisplay.style.backgroundSize = "cover";
    }
  });

  bar.addEventListener("change", function () {
    if (bar.checked) {
      imageDisplay.style.transition = "background-image 0.5s";
      imageDisplay.style.background = "black center center";

      imageDisplay.style.background =
        'url("/images/portfolio/bar-perry/BarPerry.png") center center no-repeat';
      imageDisplay.style.backgroundSize = "cover";
    }
  });

  boogaloo.addEventListener("change", function () {
    if (boogaloo.checked) {
      imageDisplay.style.transition = "background-image 0.5s";
      imageDisplay.style.background = "black center center";
      imageDisplay.style.background =
        'url("/images/portfolio/boogaloo/Boogaloo.jpg") center center no-repeat';
      imageDisplay.style.backgroundSize = "cover";
    }
  });

  bredy.addEventListener("change", function () {
    if (bredy.checked) {
      imageDisplay.style.transition = "background-image 0.5s";
      imageDisplay.style.background = "black center center";
      imageDisplay.style.background =
        'url("/images/portfolio/bredy-landscaping/BredyLandscaping.jpg") center center no-repeat';

      imageDisplay.style.backgroundSize = "cover";
    }
  });

  nom.addEventListener("change", function () {
    if (nom.checked) {
      imageDisplay.style.transition = "background-image 0.5s";
      imageDisplay.style.background = "black center center";
      imageDisplay.style.background =
        'url("/images/portfolio/604nomnom/604nomnom.jpg") center center no-repeat';
      imageDisplay.style.backgroundSize = "cover";
    }
  });

  jeha.addEventListener("change", function () {
    if (jeha.checked) {
      imageDisplay.style.transition = "background-image 0.5s";
      imageDisplay.style.background = "black center center";
      imageDisplay.style.background =
        'url("/images/portfolio/richard-jeha/richard-jeha.jpg") center center no-repeat';
      imageDisplay.style.backgroundSize = "cover";
    }
  });
</script>
