---
const { footerText, copyrightText } = Astro.props;

import SocialMedia from "./SocialMedia.astro"


---

<footer class="container-footer">
<SocialMedia />

<p id="footer-copyright"><small>
    {footerText}<br />{copyrightText} &copy; <span id="currentYear" /></small>
</p>
</footer>
<style>
	footer {
        border-top: 0.25px solid #eee;
        color:var(--primaryTextColor);
        padding: 1rem;
        text-align: center;
    }
    .footer-social{
            padding: 0;
    }

</style>
<script is:inline>
let yearDisplay = document.getElementById('currentYear');

let currentYear = new Date().getFullYear();
if (yearDisplay) {
    yearDisplay.textContent = currentYear.toString();
}


</script>

