---
interface Props {
  primaryCTA: string;
  primaryLink: string;

}

const { primaryCTA, primaryLink } = Astro.props;
import Button from "../components/Button.astro";
import Arrow from "../images/arrow-with-scribble.svg";
import { Image } from "astro:assets";
import myImage from "../images/Hero.png";
---

<section class="container-fullscreen">
  <div class="container-content">
    <div class="container-text">
      <h1 class="content-title">Digital Portfolio of Jackie Ho</h1>
      <h2 class="content-header">
        I help orchestrate customer-driven solutions to maximize business impact. 
      </h2>
      <div class="container-CTA">
        <Button
          className="primary-button"
          buttonCTA={primaryCTA}
          buttonLink={primaryLink}
        />
 
      </div>
    </div>
    <div class="hero-container">
      <picture>
    <Image class="hero-image" src={myImage} alt="Jackie Ho"  />
     </picture>
    </div>
    <div class="arrow-container">
      <Image class="arrow-image" src={Arrow} alt="arrow" />
    </div>
    <h2 class="content-jobTitle">
      <a
        target="_blank"
        href="https://en.wikipedia.org/wiki/Product_manager"
        >Product Manager</a
      ><span class="location"><br />from Vancouver, BC</span>
    </h2>
  </div>
</section>

<style lang="scss">
  picture{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .container-fullscreen {
    height: calc(100svh - var(--headerHeight) - 1rem);
    max-height: calc(100svh - var(--headerHeight) - 1rem);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    position: relative;
  }

  .container-content {
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .hero-container {
    grid-column: 3 / 7;
    grid-row: 4 / 7;
    justify-self: end;
    align-self: end;
    background: rgb(2, 170, 176, 0.1);
    border-radius: 50%;
    box-shadow: 0px 0px 25px 25px rgb(2, 170, 176, 0.1);
    .hero-image {
      width: 200px;
      height: 200px;
      loading: eager;
      vertical-align:bottom;
      @media only screen and (min-width: 375px) {
        width: 250px;
        height: 250px;
      }
    }
  }

  .arrow-container {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    justify-self: center;
    align-self: top;
    rotate: -45deg;
    .arrow-image {
      width: 64px;
      height: 64px;

    }
  }

  .container-text {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #222;
    text-transform: uppercase;
    grid-column: 1 / 7;
    grid-row: 1 / 4;
    justify-self: center;
    align-self: center;
    animation: entrance 2s ease 0s 1 normal forwards;
  }

  .content-title {
    font-size: 1rem;
    font-weight: 100;
  }
  .content-header {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
  }

  .content-jobTitle {
    padding: 0;
    margin: 0;
    font-weight: 100;
    font-size: 1rem;
    grid-column: 1 / 5;
    grid-row: 2 / 7;
    justify-self: center;
    align-self: center;
    text-transform: uppercase;
    transition: all 0.25s ease-in;

    .location {
    }

    a {
      text-decoration: none;
    }
    a:visited {
      color: var(--primaryTextColour);
    }

    a:hover {
      color: #02aab0;
      transition: all 0.25s ease-in;
    }
  }

  .container-CTA {
    margin-top: 1rem;
    height: 100%;
  }

  // .content-text{
  //     padding: 0;
  //     margin: 0;
  //     font-weight: 100;
  //     font-size: 1.25rem;
  // }

  .primary-button {
    background-image: linear-gradient(
      to right,
      #02aab0 0%,
      #00cdac 51%,
      #02aab0 100%
    );
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 1rem #eee;
    border-radius: 1rem;

    &:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
  }

  .secondary-button {
    border-radius: 54px;
    border: 1px solid var(--primaryTextColour);
    color: #222;
    background: transparent;
    &:hover {
      border: 1px solid #02aab0;
      color: #02aab0;
    }
  }
  @media only screen and (min-width: 768px) {
    .hero-container {
      grid-column: 1 / 5;
      grid-row: 3 / 7;
      justify-self: start;
      align-self: end;
      position: relative;
      background: rgb(23, 209, 255, 0.1);
      border-radius: 50%;
      box-shadow: 0px 0px 8px 8px rgb(23, 209, 255, 0.1);
      z-index: -5;
      max-height: 600px;

      .hero-image {
        width: 100%;
        height: 100%;
      }
    }
    .arrow-container {
      grid-column: 3 / 5;
      grid-row: 4 / 5;
      justify-self: center;
      align-self: top;
      
      .arrow-image {
        width: 128px;
        height: 128px;
        stroke-dasharray: 6;
        stroke-dashoffset: 0;
        animation: dash 1s linear;
        rotate: -45deg;
      }
    }

    .container-text {
      padding: 0;
      margin: 0;
      text-align: center;
      color: #222;
      text-transform: uppercase;
      grid-column: 3 / 7;
      grid-row: 1 / 4;
      justify-self: center;
      align-self: center;
      animation: entrance 2s ease 0s 1 normal forwards;
    }

    .content-title {
      font-size: 1.5rem;
    }
    .content-header {
      font-size: 3rem;
      padding: 0;
      margin: 0;
    }

    .content-jobTitle {
      padding: 0;
      line-height: 100%;
      margin: 0;
      font-weight: 100;
      font-size: 4rem;
      grid-column: 5 / 7;
      grid-row: 4 / 7;
      justify-self: center;
      align-self: center;
      text-transform: uppercase;
      .location {
        font-size: 2rem;
        padding: 0;
        margin: 0;
      }
    }

    .container-CTA {
      margin-top: 1.5rem;
      height: 100%;
    }
  }

  /* 
@media only screen and (min-width: 768px) {
    .container-full {
        padding: 0;
        margin: 0;
        height: calc(100vh - var(--headerHeight));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        max-width: 1920px;
    }
    #canvas3d2{
        padding: 0;
        margin: 0;
        padding: var(--headerHeight);
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: -1
    }
    #canvas3d{
      height: 100%;
      width: 100%;
    }
    .container-content {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        max-width: 1440px;
        padding: 0;
    }

    .container-text {
        text-align:center;
        color:white;
        width: 50%;
        max-width: 50vw;
        padding: 1rem;
        font-family:'Oxanium', sans-serif
    }
    .container-image {
        width: 50%;
        max-width: 50%;
        height: 100%;
        max-height: 100%;
    }

    .content-header{
        font-size: 4rem;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }
    
    .container-CTA {
        margin-top: 2rem;
        height: 100%;
    } }*/

  @keyframes entrance {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateY(-250px);
    }

    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateY(0);
    }

    55% {
      animation-timing-function: ease-in;
      transform: translateY(-65px);
    }

    72% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }

    81% {
      animation-timing-function: ease-in;
      transform: translateY(-28px);
    }

    90% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }

    95% {
      animation-timing-function: ease-in;
      transform: translateY(-8px);
    }

    100% {
      animation-timing-function: ease-out;
      transform: translateY(0);
    }
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 6;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
</style>
