$primary-button-colour: #c6538c;
$header-height: "80px";
$tablet-breakpoint: "768px";
$desktop-breakpoint: "1440px";
$text-primary-colour: "#555";
$background-primary-colour: "#eee";
$button-primary-colour: "linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);";
